<div class="row parallax parallax404 text-center flex">
    <div class="col-sm-6 offset-3 section-transparent p-3 text-blue mx-auto">
        <h2 class="section-heading">Uh Oh! 404 Error</h2>
        <h4 class="text-muted"><b>This isn't the page you were looking for ...</b></h4></br></br>
        <h4 class="text-muted"><b>Here are some helpful links:</b></h4></br></br>
        <div class="col-sm-6 offset-3 text-left">
            <ul>
                <li><a href='/'><h4><b>Home</b></h4></a></li>
                <li><a href='/blog'><h4><b>Blogs</b></h4></a></li>
                <li><a href='/login'><h4><b>Login</b></h4></a></li>
            </ul>
        </div>
    </div>
</div>
