<div class="row parallax parallax404 text-center flex">
    <div class="col-sm-6 offset-3 p-3 text-blue mx-auto">
        <h2 class="section-heading">Uh Oh! 404 Error</h2>
        <h4 class="text-white"><b>This isn't the page you were looking for ...</b></h4></br></br>
        <h4 class="text-white"><b>Here are some helpful links:</b></h4></br></br>
        <div class="col-4 offset-4 text-center">
            <ul>
                <a href='/'><li><h4><b>Home</b></h4></li></a>
                <a href='/blog'><li><h4><b>Blogs</b></h4></li></a>
                <a href='/login'><li><h4><b>Login</b></h4></li></a>
            </ul>
        </div>
    </div>
</div>
