<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{googleApi}}&libraries=places"></script>
<div class="row parallax text-center flex">
    <div class="col-xs-12 text-white mx-auto">
        <h1 >LET'S GET FESTIV</h1>
        <h2 >browse venues. compare options. book confidently.</h2>
        <div class="row text-center">
            <form class="form-inline mx-auto" method="post" action="/venues">
                <select name="type"class="form-control">
                    <option disabled selected>Choose your venue</option>
                    <option>Bar</option>
                    <option>Restaurant</option>
                    <option>Night club</option>
                    <option>Museum</option>
                    <option>Library</option>
                    <option>Art gallery</option>
                </select>
                <input type="text" name="location" id="autocomplete" class="form-control">
                <select name="radius" class="form-control">
                    <option disabled selected>Choose your radius</option>
                    <option value='5'>5 miles</option>
                    <option value='10'>10 miles</option>
                    <option value ='20'>20 miles</option>
                </select>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
</div>
    <div class="row heading">
    <div class="col-xs-12 mx-auto">
        <h3>There is much to Celebrate</h3>
        <p class="text-center">Learn how Festiv can help you</p>
    </div>
    </div>
    <div class="row">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="/images/notes.jpeg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Browse Locations</h4>
            <p class="card-text">Skip the cold calls and hassle! Because seriously who's got time for that? Instead simply search and filter through our curated list of venues, explore photos and read reviews to find your next setting.</p>
          </div>
        </div>
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="/images/table.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Budget Options</h4>
            <p class="card-text">Get the inside scoop on your favorite venues because at Festiv we love transparency. That means no more treasure hunting for fair prices and you can say goodbye to uncomfortable price negotiations.</p>
          </div>
        </div>
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="/images/cocktail.jpeg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Book Confidently</h4>
            <p class="card-text">Ready to book? Great! We’ll reach out to finalize details and then promptly send you a confirmation. Go ahead and cheers to a job well done.</p>
          </div>
        </div>
    </div>

    <div class="row section">
        <div class="col s12 center">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h4>Contact Us</h4>
            <div class="center-align light" id="contact">
                <div class="contact">Email: Festiv@horizons.com</div>
                <div class="contact">Phone: 1-800-FES-TIVE </div>
            </div>
        </div>
    </div>

<script>
var input = document.getElementById('autocomplete');
var autocomplete = new google.maps.places.Autocomplete(input);
</script>
