<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{googleApi}}&libraries=places"></script>
<div class="row parallax text-center flex">
    <div class="col-xs-12 text-white mx-auto">
        <h1 >LET'S GET FESTIV</h1>
        <h3 >browse venues. compare options. book confidently.</h3></br></br>
        <div class="row text-center">
            <form class="form-inline mx-auto" method="post" action="/venues">
                <select name="type"class="form-control">
                    <option disabled selected>Choose your venue</option>
                    <option>Bar</option>
                    <option>Restaurant</option>
                    <option>Night club</option>
                    <option>Museum</option>
                    <option>Library</option>
                    <option>Art gallery</option>
                </select>
                <input type="text" name="location" id="autocomplete" class="form-control" size="50">
                <select name="radius" class="form-control">
                    <option disabled selected>Choose your radius</option>
                    <option value='1'>1 mile</option>
                    <option value='5'>5 miles</option>
                    <option value ='10'>10 miles</option>
                </select>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
</div>
<div class="row pad-top section-light">
    <div class="col-xs-12 mx-auto">
        <h2 class="section-heading text-blue">Celebrate Everything</h2>
        <h3 class="section-subheading text-muted text-center">You handle the guests, we'll handle the logistics</h3>
    </div>
</div>
<div class="row d-flex justify-content-around section-light">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/images/front-page/notes.jpeg" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Browse Locations</h4>
            <p class="card-text">Skip the cold calls and hassle! Because seriously who's got time for that? Instead simply search and filter through our curated list of venues, explore photos and read reviews to find your next setting.</p>
        </div>
    </div>
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/images/front-page/table.jpg" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Budget Options</h4>
            <p class="card-text">Get the inside scoop on your favorite venues because at Festiv we love transparency. That means no more treasure hunting for fair prices and you can say goodbye to uncomfortable price negotiations.</p>
        </div>
    </div>
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/images/front-page/cocktail.jpeg" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Book Confidently</h4>
            <p class="card-text">Ready to book? Great! We’ll reach out to finalize details and then promptly send you a confirmation. Go ahead and cheers to a job well done.</p>
        </div>
    </div>
</div>


<div class="row no-gutter popup-gallery">
    <div class="col-lg-4 col-sm-6 portfolio-box">
        <img src="images/front-page/slice.jpeg" class="img-responsive" width="100%" alt="">
        <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    The Happiest of
                </div>
                <div class="project-name">
                    Birthdays
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-box">
        <img src="images/front-page/business.jpeg" class="img-responsive" width="100%" alt="">
        <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    Employee and Client
                </div>
                <div class="project-name">
                    Entertainment
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-box">
        <img src="images/front-page/lemon.jpeg" class="img-responsive"width="100%" alt="">
        <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    Reunion and Fundraiser
                </div>
                <div class="project-name">
                    Cocktails
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-box">
        <img src="images/front-page/tablesetting2.jpeg" class="img-responsive"width="100%" alt="">
        <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    Milestone Celebrations
                </div>
                <div class="project-name">
                    Showers, Engagements, et al.
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-box">
        <img src="images/front-page/flowerpots.jpeg" class="img-responsive" width="100%" alt="">
        <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    Professional & Social
                </div>
                <div class="project-name">
                    Club Meet-Ups
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-box">
        <img src="images/front-page/plate.jpeg" class="img-responsive" width="100%" alt="">
        <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    Recruiting and Conference
                </div>
                <div class="project-name">
                    Dinners
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row pad-top section-primary">
    <div class="col-xs-12 text-white mx-auto">
        <h2 class="section-heading">Top Venues in the City</h2>
        <h3 class="section-subheading text-muted text-center">Explore some of our favorites from around Philadelphia</h3>
    </div>
</div>
<div class="row section-primary">
<div class="col-xs-10 px-4">
<div class="card-deck section-primary">
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
</div>
</div>

<aside class="row ">
    <div class="col-xs-12 text-blue mx-auto pad-top">
        <h2 class="section-heading ">Stay Inspired</h2>
        <h3 class="section-subheading text-muted text-center">
            Stay up-to-date on our newest venue additions, features and trends </h3>
    <form class="form-inline mx-auto">
      <div class="form-group mx-auto">
        <input type="email" class="form-control" placeholder="your email here">
        <button type="submit" class="btn btn-primary">Join</button>
      </div>
    </form>
    </div>
</aside>


<div class="row pad-top section-light">
    <div class="col-xs-12 text-blue mx-auto">
        <h2 class="section-heading">We're Diggin' Your Style</h2>
        <h3 class="section-subheading text-muted text-center">
            Tips and Secrets from our Favorite Bloggers</h3>
    </div>
</div>
<div class="row section-light">
    <div class="col-sm-8 offset-2">
    <div class="card-group">
        <div class="card">
            <a href="/pumpkinflair">
                <img class="card-img-top" src="images/blog/oh-happy-day/pumpkintable.jpg"  class="img-responsive" width="90%" alt="Card image cap">
            </a>
            <div class="card-block">
                <h4 class="card-title text-blue">Pumpkin Centerpiece Flair</h4>
            </div>
            <div class="card-footer">
                <small class="text-muted">Blog: Oh Happy Day</small></br>
                <small class="text-muted">Authored by: Amy Moss</small>
            </div>
        </div>
        <div class="card">
            <a href="/whiskyaficionados">
            <img class="card-img-top" src="images/blog/green-wedding-shoes/glasses.jpg"  class="img-responsive" width="90%" alt="Card image cap">
        </a>
            <div class="card-block">
                <h4 class="card-title text-blue">Whisky Aficionados</h4>
                </div>
            <div class="card-footer">
                <small>Blog: Green Wedding Shoes</small></br>
                <small>Photography: Milou & Olin</small>
            </div>
        </div>
        <div class="card">
            <a href="/macaroonsBlooms">
            <img class="card-img-top" src="/images/blog/style-me-pretty/table.jpg" class="img-responsive" width="90%" alt="Card image cap">
            </a>
            <div class="card-block">
                <h4 class="card-title text-blue">Macaroons and Blooms</h4>
                </div>
            <div class="card-footer">
                <small>Blog: Style Me Pretty</small></br>
                <small>Authored by: Stephanie Weers</small>
            </div>
        </div>
    </div>
    </div>
</div>

<script>
var input = document.getElementById('autocomplete');
var autocomplete = new google.maps.places.Autocomplete(input);
</script>
