<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{googleApi}}&libraries=places"></script>
<div class="row parallax parallaxHome text-center flex">
    <div class="col-lg-12 col-11 text-white mx-auto">
        <h1>LET'S GET FESTIV</h1>
        <div class="col-lg-12 col-11 d-flex flex-wrap justify-content-center text-white mx-auto">
            <h3>browse venues.</h3>
            <h3>compare options.</h3>
            <h3>book confidently.</h3>
        </div></br></br>
        <div class="row text-center">
            <div class="col-12 d-flex justify-content-center text-white">
                <form class="form-inline mx-auto" method="post" action="/venues?num=0">
                    <input type="text" name="type" class="form-control mr-2" placeholder="Enter a keyword">
                    <input type="text" name="location" id="autocomplete" class="form-control mr-2" placeholder="Search a location ...">
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- How it Works section  -->
<div class="row pad-top section-light">
    <div class="col-sm-12 mx-auto">
        <h2 class="section-heading text-blue">Celebrate Everything</h2>
        <h3 class="section-subheading text-muted text-center">You handle the guests, we'll handle the logistics</h3>
    </div>
</div>
<div class="row d-flex pb-5 justify-content-around section-light">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/images/front-page/notes.jpeg" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Browse Locations</h4>
            <p class="card-text">Skip the cold calls and hassle! Because seriously who's got time for that? Instead simply search through our curated list of venues, explore photos to find your next setting.</p>
        </div>
    </div>
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/images/front-page/table.jpg" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Curate Events</h4>
            <p class="card-text"> Create names for the events you're planning and tag your favorite venues for easy reference later on. Add additional details on your personal "my events" page</p>
        </div>
    </div>
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/images/front-page/cocktail.jpeg" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Get Quotes</h4>
            <p class="card-text">Ready to book? Great! Head over to our request bids page and we’ll get started on getting you pricing. Sit back and relax, your inbox will soon be spilling with bids.</p>
        </div>
    </div>
</div>

 <!-- Gallery Pictures Section -->
<div class="row no-gutter popup-gallery">
    <div class="col-lg-4 col-sm-6 portfolio-box">
        <img src="images/front-page/slice.jpeg" class="img-responsive" width="100%" alt="">
        <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    The Happiest of
                </div>
                <div class="project-name">
                    Birthdays
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-box">
        <img src="images/front-page/business.jpeg" class="img-responsive" width="100%" alt="">
        <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    Employee and Client
                </div>
                <div class="project-name">
                    Entertainment
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-box">
        <img src="images/front-page/lemon.jpeg" class="img-responsive"width="100%" alt="">
        <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    Reunion and Fundraiser
                </div>
                <div class="project-name">
                    Cocktails
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-box">
        <img src="images/front-page/tablesetting2.jpeg" class="img-responsive"width="100%" alt="">
        <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    Milestone Celebrations
                </div>
                <div class="project-name">
                    Showers, Engagements, et al.
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-box">
        <img src="images/front-page/flowerpots.jpeg" class="img-responsive" width="100%" alt="">
        <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    Professional & Social
                </div>
                <div class="project-name">
                    Club Meet-Ups
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-box">
        <img src="images/front-page/plate.jpeg" class="img-responsive" width="100%" alt="">
        <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    Recruiting and Conference
                </div>
                <div class="project-name">
                    Dinners
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- Top Venues in the City Section -->
<div class="row pad-top pt-5 section-primary">
    <div class="col-sm-12 text-white mx-auto">
        <h2 class="section-heading">Top Venues in the City</h2>
        <h3 class="section-subheading text-muted text-center">Explore Some Of Our Favorites From Around Philadelphia</h3>
    </div>
</div>
<div class="row pb-5 d-flex justify-content-around section-primary">
    <div class="card-deck justify-content-center">
        <div class="card" style="max-width: 18rem;">
            <img class="card-img-top" width:"80%" src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=CmRaAAAANF3AeA9EgcZrJ2paOKuuxtc4pdzxMcKaehr8sclnBbBzpdtV9FV4W9-zia0P1d0RywPCARDC1yPnq5Ij3RDN6E1lZ0nkDhICRe78h39u6Jx0pfLs6Ys7KhTenNUwpu1BEhBJeG0I6gQToQsNXWis1p15GhQGvB2nSZIZkHNGjferKPFA_EmwBQ&key=AIzaSyBdahZQdWGEqm9Nua80okO_R8UMWCjtuDc" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Fork </h4>
                <p class="card-text"><small class="text-muted">Contemporary American</small></p>
                <p class="card-text">Sophisticated New American cuisine that includes a popular brunch served amid sleek modern decor.</p>
            </div>
        </div>
        <div class="card" style="max-width: 18rem;">
            <img class="card-img-top" src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=CmRaAAAAKgIzEhlRGFeo1XXM1bolVtcNeMD9UkG5arHv12C7-FPl7Xpo1oAHnFu9qyEX5MFkJyYmrVuaacV5D9MvhsvgIRt8uezZPpNtTMONPX46MJVBi7w-ngypjnmFXIIQNuVbEhBllW2RazmSvkxAsHfAVt5BGhSwHwvM4FaoIoKvJTzZnhEcVmRQBA&key=AIzaSyBdahZQdWGEqm9Nua80okO_R8UMWCjtuDc" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Lacroix Restaurant</h4>
                <p class="card-text"><small class="text-muted">Continental</small></p>
                <p class="card-text">Stately refuge with a global menu, plus famed chef's table, a tasting menu with kitchen seating.</p>
            </div>
        </div>
        <div class="card" style="max-width: 18rem;">
            <img class="card-img-top" src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=CmRaAAAA_hXZBZlE0kknYeSLEaCOJiqbFNj86m_6GXLcYbp8r9oIzkyEF4EKlX_KRn1G_GbdkfYoRZrs9VPG03WD0mMdxCLly4juN7N_O2Rd_TJuYbwM6HAaoRTGSfBolkW-6DCDEhCh7-TBw2JOdjaqReG_6CpIGhQQXNHRMSCWQZ_NSV94_SAoiqMYNA&key=AIzaSyBdahZQdWGEqm9Nua80okO_R8UMWCjtuDc" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Barclay Prime</h4>
                <p class="card-text"><small class="text-muted">Steakhouse</small></p>
                <p class="card-text">High-end steakhouse & lounge from chef Stephen Starr in a contemporary library setting.</p>
            </div>
        </div>
    </div>
</div>

<!-- Email sign-up section  -->
<aside class="row ">
    <div class="col-sm-12 text-blue mx-auto pad-top">
        <h2 class="section-heading ">Stay Inspired</h2>
        <h3 class="section-subheading text-muted text-center">
            Stay up-to-date on our newest venue additions, features and trends </h3>
        <form class="form-inline mx-auto" method="post" action="/join">
          <div class="form-group row mx-auto">
             <div class="col-10">
                <input type="email" name="email" class="inline form-control" placeholder="your email here">
            </div>
             <div class="col-2">
                <button type="submit" class="inline btn btn-primary">Join</button>
            </div>
          </div>
        </form>
    </div>
</aside>

<!--  Blog Section -->
<div class="row pad-top pt-5 section-light">
    <div class="col-sm-12 text-blue mx-auto">
        <h2 class="section-heading">We're Diggin' Your Style</h2>
        <h3 class="section-subheading text-muted text-center">
            Tips and Secrets from our Favorite Bloggers</h3>
    </div>
</div>
<div class="row pb-5 d-flex justify-content-center section-light">
    <div class="card-group">
        <div class="card" style="max-width: 18rem;">
            <a href="/pumpkinflair">
                <img class="card-img-top" src="images/blog/oh-happy-day/pumpkintable.jpg"  class="img-responsive" width="90%" alt="Card image cap">
            </a>
            <div class="card-block">
                <h4 class="card-title text-blue">Pumpkin Centerpiece Flair</h4>
            </div>
            <div class="card-footer">
                <small class="text-muted">Blog: Oh Happy Day</small></br>
                <small class="text-muted">Authored by: Amy Moss</small>
            </div>
        </div>
        <div class="card" style="max-width: 18rem;">
            <a href="/whiskyaficionados">
            <img class="card-img-top" src="images/blog/green-wedding-shoes/glasses.jpg"  class="img-responsive" width="90%" alt="Card image cap">
        </a>
            <div class="card-block">
                <h4 class="card-title text-blue">Whisky Aficionados</h4>
                </div>
            <div class="card-footer">
                <small>Blog: Green Wedding Shoes</small></br>
                <small>Photography: Milou & Olin</small>
            </div>
        </div>
        <div class="card" style="max-width: 18rem;">
            <a href="/macaroonsBlooms">
            <img class="card-img-top" src="/images/blog/style-me-pretty/table.jpg" class="img-responsive" width="90%" alt="Card image cap">
            </a>
            <div class="card-block">
                <h4 class="card-title text-blue">Macaroons and Blooms</h4>
                </div>
            <div class="card-footer">
                <small>Blog: Style Me Pretty</small></br>
                <small>Authored by: Stephanie Weers</small>
            </div>
        </div>
    </div>
</div>

<script>
var input = document.getElementById('autocomplete');
var autocomplete = new google.maps.places.Autocomplete(input);
</script>
