{{#if error}}
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span> {{error}}
  </div>
{{/if}}
<div class="row height">
  <div class="col-sm-6 mx-auto p-4">
      <form class="form text-right vertMid" method="post" action="/login">
          <h3 class="text-center text-blue" >Login</h3>
          <input type='text' name="username" placeholder="Username" class="form-control">
          <input name="password" type='password' placeholder="Password" class='form-control'>
          <!-- <a class="btn btn-yellow mt-3" href="/signup">Register</a> -->
          <a class="btn btn-brightblue mt-3" href="/fb/login">Login with Facebook</a>
           <button class="btn btn-primary mt-3" type="submit">Login</button>
      </form>
  </div>
</div>
