<div class="row bg2 hero-image">
    <div class="col-sm-12 text-center hero-text ">
    <h3 class="text-white">Macaroons and Blooms</h3>
    <h5 class="text-white">Blog: Style Me Pretty</h5>
    </div>
</div>
<div class="row section-light push-in">
    <div class="col-sm-6 pad-top">
        <h4 class="blog-head text-blue">Blog: Style Me Pretty</b></h4>
        <h4 class="blog-head text-blue">Authored by: Stephanie Weers</h4>
        <p><b>Peek Inside a Fashion Blogger's Bridal Shower Brunch!</b></p>

        <p> We can't get enough of this French Inspired Bridal Shower! The soft blush pink, the sun-filled room, everything is put together with such delightful taste. Read below for our snippet on Style Me Pretty's blog post or click <a href="http://www.stylemepretty.com/2016/05/22/stephanie-sterjovski-bridal-shower-brunch/">here </a>to read their entire post.</p>
    </div>
    <div class="col-sm-6 pad-top">
        <h4 class="blog-head text-blue">we're digging this blog's style </h4>
        <p><b>"Fresh Blooms | </b><em>Flowers are a must! It makes any vignette that much more photogenic and adds natural beauty and fragrance. </em><em>How to incorporate it: centerpieces, giveaways, cake topper, flower crowns, garlands – go wild! No one will ever say, “there were too many flowers” because there is no such thing! *Wink* "</em></p>

        <p><b>"All in the details…</b> | <em>Paying attention to the little details like place cards, menu etc. can really personalize your event. Take up a calligraphy class with your bridesmaids and make a fun night out of creating your shower place cards, or find cute a printable online!"</em></p>


        <p><b>"Just the Right Light | </b><em>Choose a venue or space that has a lot of natural light and windows for your event. This will aid in better photography and make all of your décor and hard work look gorgeous!"</em></p>


        <p><b>"Something Sweet</b> | <em>Your cake or sweet table can be used just as much as part of your décor, as it is to feed your guests! I have always loved naked cakes and macaron towers, but you can include any kind of sweets (maybe it’s homemade pies with cute toppers, or cake in a jar with glitter spoons etc.). I kept all of the sweets white to fit in with the décor and personally reflect my style, and requested my favorite flowers to decorate around them. They weren’t just something to eat; they were also pieces of art to look at!"</em></p>
        </div>
</div>
</div>
