<div class="row parallax parallaxNextSteps text-center flex">
    <div class="col-sm-6 offset-3 section-transparent p-3 text-muted mx-auto">
        <h2 class="section-heading">Next Steps</h2>
        <h3 class="text-darkerBlue"><b>what to expect from here on ...</b></h3></br></br>
        <div class="col-sm-6 offset-3 text-left">
            <h6> Venue owners will receive notification of your interest</h6></br>
            <h6> Once they respond with price estimates, we'll post them to your Festiv inbox </h6></br>
            <h6> We'll send you a note once you've received a bid</h6></br>
            <h6> Review all your bids at your leisure and simply post your deposit through our portal when you're ready </h6></br>
        </div>
    </div>
</div>
