{{#if error}}
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{error}}
</div>
{{/if}}
<div class="row height">
    <div class="col-sm-4 mx-auto p-4">
    <form class="form text-right vertMid"method="POST" action="/signup">
      <h3 class="text-center text-blue" >Register</h3>
        <input placeholder="Username"type="text" name="username" class="form-control">
        <input placeholder="First Name"type="text" name="fname" class="form-control">
        <input placeholder="Last Name"type="text" name="lname" class="form-control">
        <input placeholder="Email"type="text" name="email" class="form-control">
        <input placeholder="Password"type="password" name="password" class="form-control">
        <input placeholder="Verify Password"type="password" name="passwordRepeat" class="form-control">
        <a class="btn btn-primary mt-3" href="/login">Login</a>
        <button class="btn btn-yellow mt-3">Register</button>
    </form>
    </div>
</div>
