<div class="row bg3 hero-image">
    <div class="col-sm-12 text-center hero-text ">
    <h3 class="text-white"> Whisky Aficionados </h3>
    <h5 class="text-white">Blog: Green Wedding Shoes</h5>
    </div>
</div>
<div class="row section-light px-5">
    <div class="col-sm-6 pad-top">
        <h4 class="blog-head text-blue">Blog: Green Wedding Shoes</h4>
        <h4 class="blog-head text-blue">Photography by: Milou & Olin</h4>
        <p><b>Whisky Tasting Bachelorette Party Inspiration</b></p>

        <p> Ugh we just love how Green Wedding Shoes present how to host a classy party that showcases the modern woman. This whisky theme gives off tons of vintage vibes and can easily be tailored to the cocktail of your choice. We foresee some bourbon, wine, and tequila twists here. See below for our snippet on their stellar post or read their full post <strong><a href="http://greenweddingshoes.com/whiskey-tasting-bachelorette-party-inspiration/">here</a></strong>.</p>
    </div>
    <div class="col-sm-6 pad-top">
        <h4 class="blog-head text-blue">we're digging this blog's style </h4>
        <p>For all of you ladies currently in charge of planning a killer bachelorette bash, be sure to take note of today’s amazing whisky tasting soiree dreamt up by <a href="http://www.milouandolin.com/" target="_blank" rel="noopener">Milou + Olin Photography</a>, <a href="http://www.scarlettandgrace.com/" target="_blank" rel="noopener">Scarlett &amp; Grace</a> and <a href="http://www.kmkdesigncompany.com/" target="_blank" rel="noopener">KMK Design</a> (with event design assistance from <a href="https://www.facebook.com/milklegs/" target="_blank" rel="noopener"> Milklegs</a>). This perfectly-designed festive girls’ night is anything but traditional, with a playful balance between masculine + feminine. There are lots of fun steal-worthy design ideas, like a cool color palette of amber, chocolate, and dusty french blue, a wide variety of textures ranging from rustic barn wood to sparkly linens, and <em>the most beautiful</em> dripping g semi-naked cakes by <a href="http://www.paperheartpatisserie.com/" target="_blank" rel="noopener">Paper Heart Patisserie</a>. (Serious sigh!!!)" ....<a href="http://greenweddingshoes.com/whiskey-tasting-bachelorette-party-inspiration/">Read More Here</a></p>
        <p>Looking to host a similar themed event in Philadelphia? Check out our page on  <b><span class="text-blue">1 Tippling Place</span> </b>- this cocktail bar's living room style would serve as a perfect compliment to a whisky affair.</p>
    </div>
</div>
</div>
