body {
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
}
.container-fluid{
    margin-top:83px;
}

btn-primary, .btn-xl, h2 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.btn-brightblue{
    color: white;
    background-color: rgb(51, 204, 255);
    border-color: rgb(51, 204, 255);
}
.btn-yellow{
    color: white;
    background-color: #EEDE76;
    border-color: #EEDE76;
}
.btn-yellowBord{
    color: rgb(76, 219, 219);
    border-color: #EEDE76;
}
.btn-yellow:hover{
    background-color: #F2DA45;
    border-color: #F2DA45;
}
.btn-transparent{
    background-color: rgba(255,0,0,0);
    color: rgb(76, 219, 219);
    border: none;
    text-align: left;
    white-space: normal;
}
.btn-transparent:hover{
    text-decoration: none;
    color: rgb(19, 245, 245);
}
.font25{
    font-size: 25px;
}
.font15{
    font-size: 15px;
}
h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}

h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 50px;
 }
.blog-head{
    text-transform: uppercase;
}

.height{
    min-height: 500px;
}
.threeHeight{
    min-height: 300px;
}
.vh69{
    min-height: 69vh;
}
.vh42{
    min-height: 42vh;
}
.sidebar{
    height: 630px;
    width: 100%;
}
.contactSide{
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 20px;
    min-height: 250px;
    border: rgb(76, 219, 219) solid 10px;
    color: rgb(76, 219, 219);
}
.noborder{
    border:0;
}
.venueSide{
    border: white solid 20px;
}
.eventBorders{
    border: rgb(76, 219, 219) solid 5px;
}
.parallaxHome{
    background:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/front-page/pineapple.jpeg");
}
.parallaxNextSteps{
    background:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/hero/vases.jpeg");
}
.parallax404{
    background:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/hero/calm.jpeg");
}

.parallax {
    /* Set a specific height */
    height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cover-container {
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    border-bottom: rgb(242, 242, 242) solid 8px
}
.cover-item {
    position: relative;
    display: inline-block;
    box-shadow: 2px 2px 4px #bbb;
    border-top-right-radius: 4px;
    width: 400px;
    height: 300px;
    vertical-align: bottom;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg1{
    background:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../images/blog/oh-happy-day/pumpkin1.jpg');
}
.bg2{
    background:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../images/blog/style-me-pretty/macaroonsBlooms.jpg');
}
.bg3{
    background:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../images/blog/green-wedding-shoes/whisky_cake.jpg');
}
.bg4{
    background:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../images/hero/man-sunglasses.jpg');
}
.bg5{
    background:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../images/hero/pinkflowers.jpeg');
}
.bg6{
    background:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../images/hero/plandesk.jpeg');
}
.bg7{
    background:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../images/hero/team.jpg');
}
.hero-image {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text{
    margin-top: 15%;
}
.flex {
    display: flex;
    align-items: center;
}
.flexgrow{
    flex-grow: 1;
}
.vertMid{
    margin-top: 25%;
}

/*Text-edits*/
.lineheight2{
    line-height: 200%;
}
.break{
    word-break: break-all;
}
.text-white{
    color: white;
}
.text-blue{
    color: rgb(76, 219, 219);
}
.text-darkerBlue{
    color:rgb(0, 204, 204)
}
.text-light{
    color: #FAF9F9
}
.text-yellow{
    color: #EEDE76;
}
.inline{
    display: inline;
}
a {
color: rgb(76, 219, 219);
}
a:hover{
    text-decoration: none;
    color: rgb(19, 245, 245)
}

.btn-primary {
    color: #fff;
    background-color: rgb(76, 219, 219);
    border-color: rgb(76, 219, 219);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: rgb(19, 245, 245);
    border-color: rgb(19, 245, 245); /*set the color you want here*/
}
.navbar {
   background-color:white;
   background: white;
   border-bottom: rgb(242, 242, 242) solid 4px;
}
.navbar-brand {
    padding:0px 15px;
    margin: 10px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(76, 219, 219);
    font-weight: bold;
}

#navbarNavDropdown{
    flex-direction: row-reverse;
    padding-right: 7%;
}

/*ul.nav-item a:hover { color: red !important; }*/

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link {
    color: #636c72;
}
aside {
    background-color: #ffffb3;
    padding: 30px;
}
.footer{
    background-color: rgb(201, 226, 226);
    padding-bottom: 20px;
    position:relative;
    border-top: rgb(242, 242, 242) solid 4px;
}
.nextPage{
    z-index: 3;
    padding-left: 47%;
}
form {
    margin-bottom: 20px;
}
.form-control{
    color: rgb(76, 219, 219);
}
.section-primary{
    background-color: rgb(201, 226, 226);
}
.section-light{
    background-color:#FAF9F9;
}
.section-transparent{
    background-color:rgba(250, 249, 249,0.8);
}
.section-transparentB{
    background-color:rgba(76, 219, 219,0.5);
}
.section-blue{
    background-color:rgb(76, 219, 219);
}
.section-yellow{
    background-color: #EEDE76;
}


.card{
    border-radius: 25px;
    margin-bottom: 30px;
}
.card-img-top{
    overflow:hidden;
    height: 200px;
}
.card p, .wordwrap{
    word-wrap: break-word;
}
.card-img-top{
    margin: 12px;
}
.card-title {
    color: rgb(76, 219, 219);
}

.float {
    display: flex;
    flex-wrap: wrap;
}
.fixed-pos{
    position:fixed;
}
#listCard{
    max-height: 450px;
    overflow: scroll;
    border-top: 2px solid rgb(242, 242, 242);
}

.map{
    height:100%;
    width: 100%;
    min-height: 500px;
}
#venueMap {
    height: 300px;
    width: 95%;
    margin: 15px;
}

.pad-top{
    padding-top: 30px;
}

.no-padding {
  padding: 0;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: rgb(76, 219, 219);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
.portfolio-box:focus {
  outline: none;
}
@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}
