<div class="row bg1 hero-image">
    <div class="col-sm-12 text-center hero-text ">
    <h3 class="text-white">Pumpkin Centerpiece Flair</h3>
    <h5 class="text-white">Blog: Oh Happy Day</h5>
    </div>
</div>
<div class="row section-light vh42 px-5">
    <div class="col-sm-6 pad-top">
        <h4 class="blog-head text-blue">Blog: Oh Happy Day</b></h4>
        <h4 class="blog-head text-blue">Authored by: Amy Moss</h4>
        <p><b>DIY Ombre Mini Pumpkin Centerpiece</b></p>

        <p> Happy Day is an absolutely wonderful blog for all  "do-it-yourself arts and crafts". We particularly love this centerpiece below because it's not only budget friendly, its chic. This could be great for any dinner party where you want to jazz things up a bit. Forget the flower bouquets, and surprise your guests with these mini glam pumpkins.</p>
    </div>
    <div class="col-sm-6 pad-top">
        <h4 class="blog-head text-blue">we're digging this blog's style </h4>
        <p>"Sure, traditional fall colors can be beautiful but sometimes it’s nice to add a pop of warm-toned brights to this conventionally dull-hued season. And so, we came up with this cheerful ombre centerpiece that you can re-create for your fall parties. Just gather some mini pumpkins and paint in a spectrum ranging from bright yellow to neon pink! Be sure to include touches of gold for some added sparkle!"</p>
        <p>Sometimes, time is of the essence and we get that. Thankfully
        <a href="https://shop.ohhappyday.com/collections/all-products">Oh Happy Day</a> also has an online store where you can get all your celebratory decor needs. Blessed be their souls! Check them out <a href="https://shop.ohhappyday.com/collections/all-products">here!</a></p>
    </div>
</div>
</div>
